package templates

import(
"rxcheck/internal/database"
)

templ Classification(classificatons []database.Classification){
    <div>
     for _, classification := range classificatons {
        <div>{ classification.Name }</div>
    }
    </div>
}