package templates

import(
    "fmt"
)

templ Explanation(explanation string, nextQuestion int32){
    <div
        hx-target="this"
        hx-swap="outerHTML"
    >
        <form>
        <div>{explanation}</div>
        <input type="hidden" name="answer" value="-1">
        <button hx-post={fmt.Sprintf("/question/%d", nextQuestion)} type="sumbit">Continue</button>
        </form>
    </div>
}