package templates

templ Explanation(explanation string){
    <div
        hx-target="this"
        hx-swap="outerHTML"
    >
        <form>
        <div>{explanation}</div>
        <input type="hidden" name="answer" value="-1">
        <button hx-post="/question" type="submit">Continue</button>
        </form>
    </div>
}