package templates

import(
"rxcheck/internal/database"
)

templ Game(classificatonMap map[string][]database.Drug){
    <div>
     for k,v := range classificatonMap {
        <div>{ k }</div>
        for _, drug := range v{
            <div>{drug.GenericName}</div>
        }
    }
    </div>
}