package templates

templ Login(){
    <div>
         <form class="mx-auto w-lg flex justify-center flex-col">
            <label for="email">Email:</label>
            <input type="text" id="email" name="email"><br>
            <label for="password">Last name:</label>
            <input type="password" id="password" name="password">
        </form> 
    </div>
}