package templates

import(
    "fmt"
)

templ Summary(score int32){
    <div
        hx-target="this"
        hx-swap="outerHTML"
        class="flex flex-col text-center max-w-80 mx-auto border-solid border-2 rounded m-5 p-2.5"
    >
        <p class="text-xl font-bold">Quiz Over</p>
        <div>{fmt.Sprintf("Score: %d/5", score)}</div>
        <button class="w-auto m-1 p-1 bg-gray-200 hover:bg-gray-300 border-solid border-2"  hx-get="/menu">Menu</button>
    </div>
}